.highlight-info {
    background: url(../images/data.jpg) center fixed;
    color: #fff;
    padding: 6em 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

p {
    font-weight: 300;
    margin: 0;
}

.text-center { text-align: center; }

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.fa { color: #2ABB9B; }

.carousel-indicators {
    bottom: 10px;
    left: 50%;
    list-style: none;
    margin-left: -30%;
    padding-left: 0;
    position: absolute;
    text-align: center;
    width: 60%;
    z-index: 15;
}

.carousel-indicators { bottom: -20px; }

.carousel-indicators li {
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 1px;
    width: 10px;
}

ul, ol { margin: 0; }

.testimonial-solid {
    background: #fff;
    margin: 0 0 0 0;
    padding-bottom: 70px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
    text-align: center;
}

.carousel-indicators li { border: 1px solid #ccc; }

.carousel li { margin-right: 5px; }

.carousel-indicators .active {
    background-color: #ccc;
    margin-right: 4px;
}