.google-maps {
    height: 0;
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
}

.google-maps iframe {
    border: none;
    height: 100% !important;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100% !important;
}