.upload-drop-zone {
    border-width: 2px;
    height: 200px;
    margin-bottom: 20px;
}

/* skin.css Style*/

.upload-drop-zone {
    border-color: #ccc;
    border-style: dashed;
    color: #ccc;
    line-height: 200px;
    text-align: center
}

.upload-drop-zone.drop {
    border-color: #222;
    color: #222;
}