<link href="@Url.Content("~/css/fileuploadzone.css")" rel="stylesheet">

<h4>Select files from your computer</h4>
    <form asp-action="UploadPrivateFiles"
          asp-controller="Fillager"
          method="post"
          enctype="multipart/form-data"
          id="js-upload-form">

        <input type="file" name="files" id="js-upload-files" multiple />
        <input type="submit" class="btn btn-sm btn-primary" value="Upload Selected Files" />

    </form>
<!-- Drop Zone -->
<h4>Or drag and drop files below</h4>
<div class="upload-drop-zone" id="drop-zone">
    Just drag and drop files here
</div>
<!-- Progress Bar -->
@*<div class="progress">
    <div class="progress-bar" id="progressbar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        <span class="sr-only">45% Complete</span>
    </div>
</div>*@
@*<div class="progress progress-striped active" id="progressbar">
    <div class="progress-bar" id="progress"></div>
</div>*@
<!-- Upload Finished -->
@*<div class="js-upload-finished">
    <h3>Processed files</h3>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>
        <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-02.jpg</a>
    </div>
</div>*@