<nav class="navbar navbar-default navbar-fixed-top"> <!-- navbar-inverse-->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Fillager" asp-action="Index" class="navbar-brand">NetDisk</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Fillager" asp-action="TransferWindow">Home</a></li>
                <li><a asp-area="" asp-controller="Fillager" asp-action="About">About</a></li>
                <li><a asp-area="" asp-controller="Fillager" asp-action="Contact">Contact</a></li>
            </ul>
            @Html.Partial("_NavbarLoginPartial")
        </div>
    </div>
</nav>
