<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Delete File</h4>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        Are you sure you want to delete <span class="text-danger">@ViewBag.FileName</span>
    </div>
</div>
<div class="modal-footer">
    <form class="pull-right" asp-controller="Fillager" asp-action="DeleteFile">
        <input type="hidden" value="@ViewBag.FileId" name="fileId"/>
        <input type="button" class="btn btn-default" data-dismiss="modal" value="Close"/>
        <input type="submit" class="btn btn-danger" value="Delete"/>
    </form>
    @*<a class="btn btn-danger" asp-controller="Fillager" asp-action="DeleteFile" asp-route-fileId="@ViewBag.FileId">Delete</a>*@
</div>