@model IEnumerable<Fillager.Models.Files.File>
@{
    ViewData["Title"] = "Your Files";
}

<div class="page-header">
    <h3>Your Files</h3>
    <hr/>
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">Upload Files</div>
            <div class="panel-group">
                <form asp-action="UploadPrivateFiles"
                      asp-controller="Fillager"
                      method="post"
                      enctype="multipart/form-data">
                    <input type="file" name="files" multiple/>
                    <input type="submit" value="Upload Selected Files"/>
                </form>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#privateFileList">Your Files</a>
                </h4>
            </div>
            <div id="privateFileList" class="panel-collapse collapse in">
                @await Component.InvokeAsync("FileList", new {files = Model, editable = true, showPublicMarker = true})
            </div>
        </div>
    </div>
</div>

<div id="modal-container" class="modal fade hidden-print" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>


<style>
    .hoverable:hover { background-color: #ecf0f1; }
</style>
@section Scripts
{
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.16/clipboard.min.js"></script>
    <script>
        new Clipboard('.copyBtn');
    </script>

    <script>
        $(function() {
            // when the modal is closed
            $('#modal-container').on('hidden.bs.modal',
                function() {
                    // remove the bs.modal data attribute from it
                    $(this).removeData('bs.modal');
                    // and empty the modal-content element
                    $('#modal-container .modal-content').empty();
                });
        });
    </script>
}