@model Fillager.ViewModels.LoginViewModel
@{
  ViewData["Title"] = "Login";
}
<form asp-action="Login" asp-controller="Account">
    <div class="form-horizontal">
        <h4>Sign in with your username and password.</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <p>Dont' have a login? register <a href="Register">here</a></p>

        <div class="form-group">
            <label asp-for="UserName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger">Username:</span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger">Password:</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="RememberMe" />
                    <label asp-for="RememberMe">Remember me</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
