@{
    ViewData["Title"] = "About";
}
<link href="@Url.Content("~/css/about.css")" rel="stylesheet">
<link href="@Url.Content("~/css/font-awesome.min.css")" rel="stylesheet">

<div class="jumbotron text-center">
    <h1>About Our Company</h1>
    <p>This is us!</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="col-sm-6">
                <img src="@Url.Content("~/images/hca.jpg")" class="img-responsive" alt="Our Offices">
            </div>
            <div class="col-sm-6">
                <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero.</p>
            </div>
            <br/>
            <p>Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero.</p>
        </div>
        <div class="col-sm-4">
            <div class="block-heading-two">
                <h3>
                    <span>Our Advantages</span>
                </h3>
            </div>
            <div class="panel-group" id="accordion-alt3">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3"> <i class="fa fa-angle-right"></i> Great Big Storage Solution</a>
                        </h4>
                    </div>
                    <div id="collapseOne-alt3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.</p>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3"> <i class="fa fa-angle-right"></i> We are great, we really are, you will like us</a>
                        </h4>
                    </div>
                    <div id="collapseTwo-alt3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.</p>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3"> <i class="fa fa-angle-right"></i> If you're interested in 'balancing' work and pleasure, stop trying to balance them. Instead make your work more pleasurable. </a>
                        </h4>
                    </div>
                    <div id="collapseThree-alt3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.</p>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFour-alt3"> <i class="fa fa-angle-right"></i> What separates the winners from the losers is how a person reacts to each new twist of fate</a>
                        </h4>
                    </div>
                    <div id="collapseFour-alt3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="highlight-info">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-3 col-xs-6">
                <i class="fa fa-users fa-5x"></i>
                <h4>120+ Users</h4>
                @*TODO:Add users*@
            </div>
            <div class="col-sm-3 col-xs-6">
                <i class="fa fa-files-o fa-5x"></i>
                <h4>25 Files uploaded weekly</h4>
                @*TODO:Ádd files uploaded last week / month*@
            </div>
            <div class="col-sm-3 col-xs-6">
                <i class="fa fa-folder-open fa-5x"></i>
                <h4>600+ MB/GB/TB Data Stored</h4>
                @*TODO:Add total data stored*@
            </div>
            <div class="col-sm-3 col-xs-6">
                <i class="fa fa-map-marker fa-5x"></i>
                <h4>3 Locations</h4>
                @*TODO:Add locations? (1?)*@
            </div>
        </div>
    </div>
</div>
<div class="testimonial-solid">
    <div class="container">
        <h2>Client Testimonials</h2>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active">
                    <a href="#"></a>
                </li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class="">
                    <a href="#"></a>
                </li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class="">
                    <a href="#"></a>
                </li>
                <li data-target="#carousel-example-generic" data-slide-to="3" class="">
                    <a href="#"></a>
                </li>
                <li data-target="#carousel-example-generic" data-slide-to="4" class="">
                    <a href="#"></a>
                </li>
                <li data-target="#carousel-example-generic" data-slide-to="5" class="">
                    <a href="#"></a>
                </li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <p>"You have to think anyway, so why not think big?"</p>
                    <p>
                        <strong>- Donald Trump -</strong>
                    </p>
                </div>
                <div class="item">
                    <p>"Sometimes your best investments are the ones you don't make."</p>
                    <p>
                        <strong>- Donald Trump -</strong>
                    </p>
                </div>
                <div class="item">
                    <p>"In the end, you're measured not by how much you undertake but by what you finally accomplish."</p>
                    <p>
                        <strong>- Donald Trump -</strong>
                    </p>
                </div>
                <div class="item">
                    <p>"Buy companies only when you understand what they do."</p>
                    <p>
                        <strong>- Donald Trump -</strong>
                    </p>
                </div>
                <div class="item">
                    <p>"I'll tell you, it's Big Business. If there is one word to describe NetDisk, it's Big Business. Or two words - Big Business."</p>
                    <p>
                        <strong>- Donald Trump, probably -</strong>
                    </p>
                </div>
                <div class="item">
                    <p>"I will build a great data storage solution - and nobody builds data storage solutions better than me, believe me - and I'll build it very inexpensively. I will build a great, great data storage solution, and I will make Mexico pay for that data storage solution. Mark my words."</p>
                    <p>
                        <strong>- Donald Trump, probably -</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>